{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "plugin:jsx-control-statements/recommended"],
  "plugins": [
    "react",
    "jsx-control-statements"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
  },
  "rules": {
    "import/extensions": [1, {}],
    "import/no-extraneous-dependencies": [1, { "devDependencies": true }],
    "import/no-unresolved": [1, {}],
    "no-unused-expressions": [1, {}],
    "react/jsx-uses-vars": [2],
    "no-restricted-syntax": [1]
  }
}
